.nav-item {
    padding:5px;
}

footer {
    background-color: #FF995F;
    border: 5px solid #DA4F00;

}

.nav-item, footer {
    color: black;
}

body {
    font-family: 'Caveat Brush', cursive;
    font-family: 'Livvic', sans-serif;
}

footer img {
    max-height: 100px;
    background-color: white;
    border-radius: 2px;
}
