#navbar {
    border: 5px solid #9E78D9;
    background-color: #BB9DEA;
    font-weight: bold;
    }


#navbar a:hover {
    color: #dfff6a;
}
.carousel .carousel-item {
    height: 200px;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 200px;
  }
  .carousel-caption{
    
    color: black;
    background-color: rgb(249, 246, 220);
    position: absolute;
    right: 30%;
    bottom: 2.5rem;
    left: 30%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

button{
    color: orange;
}

h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}

footer {
    background-color: 8459C5;
    border: 5px solid #9E78D9;
    width: 100%;
    margin: 0;   
}
footer .div .container {
    width: 100%;
}

.nav-item, footer {
    color: black;
}

footer img {
    max-height: 100px;
    background-color: white;
    border-radius: 2px;
}



footer img {
    max-height: 100px;
    background-color: white;
}





@media screen and (max-width: 768px){

footer img{
    display: none;
}
    }

/* QUIZ CSS */ 

body{
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: #ffd7c0;

}

#results {
width: 100px;
background-color: #ffc25f;
float: right;
margin: 0px 15px 15px 0px;
}

.question{
  font-weight: 600;
  background-color: #ffc25f;
  width: 250px;
  justify-content: center;
  
}
.answers {
    margin-bottom: 20px;
    
    
}
#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #056888;
  color: rgb(235, 222, 222);
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 30px;
  
}

#submit:hover, #restart:hover{
  background-color: #499db9;
}

#palaute{
    background-color: #ffc25f;
    border-radius: 5px;
    
    

}

#quiz {

    width: 50%;
    padding-left: 30px;
    
}

h2{
    background-color: #ffc25f;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    
}

h2, .question, #results, #palaute {
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

label {
    margin-right: px;
    border-radius: 5px;
}

input {
    margin-right: 2px;
}

#Pekko{ 
    position: absolute;
    top: 300px;
    left: 450px;
    height: 400px;

}

div>p{
    display: block;
}
/* QUIZ CSS  */

/* Yhteinen tyylitiedosta alkaa */

body {
    margin: 0;
    font-family: 'Livvic', sans-serif;
    font-size: 1.2em;
    height: 98vh;
}

#navbar {
    border: 5px solid #0b485d;
    background-color: #056888;
    font-weight: bold;
    }

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}    


#navbar a:hover {
    color: #ffc25f;
}
.carousel .carousel-item {
    height: 120px;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 120px;
  }
  .carousel-caption{
    
    color: black;
    background-color: white;
    position: absolute;
    right: 30%;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 30%;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}



h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}

#footer {
    display: flex;
    background-color: #056888;
    border: 5px solid #0b485d;
    width: 100%;
    margin: 0;
    justify-content: space-between;

}

.team {
    display: flex;
    color: black;
    align-items: flex-end;
}

li.footer-item {
    padding:3px;
}

footer img {
    max-height: 100px;
    background-color: white;
}


/* first content index */

.firstPage{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    width: 100%;
    border: 5px solid #DA4F00;
    height: 60%;
    padding: 10px;
}

.col-2 {
    display: flex;
    grid-column: 1/2;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
 
.col-10 {
    display: flex;
    grid-column: 2/3;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

h3 {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5em;
    font-weight: normal;
}




@media screen and (max-width: 991px){

    .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
    } 

footer img{
    display: none;
}

#carouselCaptions {
    display: none;
}
    

    .col-2{
        display: none;
    }
    .col-10{
        grid-column: 1/3;
    
    }
.firstPage{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    width: 100%;
    border: 5px solid #DA4F00;
    height: 90%;
    padding: 10px;
}

.inside-html>img{
    display: none;
}

#Pekko, div>p { 
    display: none;

}

}

