#navbar {
    border: 5px solid #DA4F00;
    background-color: #FF995F;
    font-weight: bold;
    }


#navbar a:hover {
    color: #056888;
}
.carousel .carousel-item {
    height: 200px;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 200px;
  }
  .carousel-caption{
    
    color: black;
    background-color: white;
    position: absolute;
    right: 30%;
    bottom: 2.5rem;
    left: 30%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

button{
    color: orange;
}

h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}

footer {
    background-color: #FF995F;
    border: 5px solid #DA4F00;
    width: 100%;
    margin: 0;   
}
footer .div .container {
    width: 100%;
}

.nav-item, footer {
    color: black;
}

.inside-html{
    border:5px solid #DA4F00"
}

footer img {
    max-height: 100px;
    background-color: white;
}


body {
    background-color: #e69566;
    padding: 5px;
}

.game {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    font-family: 'livvic', sans-serif;
    font-size: 1em;
}

form {
    border: 3px solid #ab6b04;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

p{
    font-size: 1.5em;
    color: #1a4e0b;
}

h2 {
    text-align: left;
}

.quiz1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.quiz2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.quiz3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.quiz4 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.quiz5 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.side {
    display: flex;
    font-size: 4em;
    border: 3px solid #ab6b04;
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: white;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 768px){

footer img{
    display: none;
}
    }